header {
  height: 75px;
  background: teal;
  border-bottom: 3px dashed white;
}

#site-nav {
  height: 150px;
  background: pink;
}

section {
  height: 125px;
  background: yellow;
  border: 1px double blue;
}

article {
  height: 250px;
  width: 240px;
  background: orange;
  border: 1px double blue;
  float: left;
}

footer {
height: 80px;
background: turquoise;
clear: both;
}

h1 {
  text-align: center;
}

header h1 {
  line-height: 75px;
}

#site-nav h1 {
  line-height: 150px;
}

section h1 {
  line-height: 125px;
}

article h1 {
  line-height: 250px;
}

footer {
  line-height: 80px;
}